body {
  background: url('/assets/images/AtlanticLogo.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'sofia_proregular', sans-serif;
}

#sign-col {
  margin: 0 auto;
  float: none;
}

#signup-col {
  margin: 0 auto;
  float: none;
}

#signin {
  margin-top: 30%;
}

#signup {
  margin-top: 30%;
  
}

#dash-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.landing-img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  cursor: pointer;
}

#content {
  margin-bottom: 2%;
}

.error-message {
  color: red;
}

@font-face {
  font-family: 'atlanticregular';
  src: url('/assets/fonts/atlantic-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/atlantic-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sofia_proregular';
  src: url('/assets/fonts/sofia_pro_regular_thefontsmaster.com-webfont.woff2') format('woff2'),
       url('/assets/fonts/sofia_pro_regular_thefontsmaster.com-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}